*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  font-weight: 300;
}

::selection {
  background-color: #232323;
  color: #d1d1d1;
}

@media (min-width: 768px) {
  html { font-size: 75%; }
}

@media (min-width: 1024px) {
  html { font-size: 87.5%; }
}

@media (min-width: 1300px) {
  html { font-size: 100%; }
}
